<ion-searchbar></ion-searchbar>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="assets\icon\instacart.svg">
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-list>
      <ion-item [button]="true" id="departments">Departments</ion-item>
      <ion-item [button]="true" id="moreways">More ways to shop</ion-item>
      <ion-item [button]="true" id="help">Help</ion-item>

      <ion-popover trigger="departments" [dismissOnSelect]="true" side="end">
        <ng-template>
          <ion-content>
            <ion-list class="popover">
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>

            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-list>
  </ion-content>

    <ion-item >
    
    </ion-item>
      

 
</ion-menu>
<ion-content class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="assets\icon\instacart.svg">
      <ion-searchbar></ion-searchbar>
      
      <ion-header collapse="condense">
        <ion-toolbar>
        
        </ion-toolbar>
        </ion-header>
          
        
        
          <ion-header collapse="condense">
          
          </ion-header>
            
          
          
          
            <div id="login">
          <ion-button class="tamanho" (click)="showModal()">Login</ion-button>
            
        
        </div>
      
    </ion-toolbar>
  </ion-header>

  
  
 
 
    <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>
 

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>
  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      <ion-card-content>
        escrever no card
      </ion-card-content>
    </ion-card>
  </div>

  <div class="caixa">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
        
        </ion-avatar>
        

        
      </ion-card-header>
      
    </ion-card>
  </div>


  <ion-card class="caixa2">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card class="caixa3" style="margin-left: 25%;">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="caixa3">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="caixa3">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

 

 


  



  
